<%- include("./partials/header") %>

<h1>Book Store library or Readall page</h1>

<h1>
    <%books.forEach(function(book,index){%>
        <p> <%=  book.name %> 
            <%= book.author %>
            <a href="/delete/<%- index %>">deletebook</a>
            <a href="/update/<%= index %>">updatebook</a>
        </p>
    <%})%>
</h1>
<%- include('partials/footer') %>